<div class="container">
    <h2>Let's contribute in legacy to save the same!! </h2>

    <div class="container">
        <div class="row">

            <div class="card col-md-4">
                <div class="card-body">
                    <h3 class="card-title">
                        Raw Images
                    </h3>
                    <h4 class="card-subtitle text-muted"> {{scannedImages}} Raw scanned images uploaded...</h4>
                    <app-upload-graph></app-upload-graph>

                    <a [routerLink]="['/upolad']" routerLinkActive="router-link-active">Upload scaned images</a>
                </div>
            </div>

            <div class="card col-md-4">
                <div class="card-body">
                    <h4 class="card-ttile">
                        Map the right word!
                    </h4>

                </div>


            </div>

            <div class="card col-md-4">
                <div class="card-body">
                    <h4 class="card-ttile">
                        Proof reading </h4>

                </div>


            </div>
        </div>


    </div>




</div>